[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_ENV = "production"
VITE_API_URL = "https://housingms.runasp.net/api"
VITE_OAUTH_SERVER_URL = "https://housingms.runasp.net"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200


